*{
    margin : 0;
    padding : 0;
    font-family : 'Poppins', sans-serif;
    box-sizing : border-box;
}
.navbar{    
}
.logo{
    position : absolute;
    height : auto;
    width : 8%;
    left : 10px;
    float : left;
}
li{
     float : right;
     background : #d35a5a
     
}
.container{
    width : 100%;
    height : 100vh;
    background : #02151b;
    display : flex;
    align-items : center;
    justify-content : center;
}
.calculator{
    background : #394f50;
    padding : 20px;
    border-radius : 10px;
}
.calculator form input{
    border : 0;
    outline : 0;
    width : 50px;
    height : 50px;
    border-radius : 25px;
    box-shadow : -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background : transparent;
    font-size:20px;
    color : #fff;
    cursor : pointer;
    margin : 10px;
}
form .display input{
    text-align : right;
    flex : 1 ;
    font-size : 45px

}
form input.operator{
    color : #ef0b0b
}
form input.equal{
    width : 270px;
    background : #1ea03a;
}
form .display input.disk{
    width : 270px;
    height : 100px;
    background : #88a0a3;
    box-shadow : none;
    text-decoration: wavy;
}
